<head>
    <style type="text/css">
    div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }
    div.settings label          { text-align:right; }
    div.settings label:after    { content: ":"; }
    </style>
</head>
<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<%= form_for @user, url: login_path, method: :post do |f| %>
    <div class ="settings">
    
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
    
    
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>
    <br>
        
    <%= f.submit "log in", value: "Log In" %>
<% end %>
    <%=button_to "Sign Up", new_user_path, method: :get %>
    <%=button_to "Log In with Google", '/auth/google_oauth2' %>
    


