<head>
    <style type="text/css">
    div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }
    div.settings label          { text-align:right; }
    div.settings label:after    { content: ":"; }
    </style>
</head>

<h1>Create a New Food Pairing for <%= @wine.wine_name %></h1>
<br>
<%= form_for @wine do |w| %>
      
    <div class ="settings">
    <%= w.fields_for :pairings, @wine.pairings.build do |pair_build| %>
        <strong>Type of Pairing: </strong>
        <br>
        <%= pair_build.label :pairing_type, "Congruent", "value" => "Congruent" %><%= pair_build.radio_button :pairing_type, "Congruent" %>
        <%= pair_build.label :pairing_type, "Contrasting", "value" => "Contrasting" %><%= pair_build.radio_button :pairing_type, "Contrasting" %>
    
        <%= pair_build.fields_for :food, @wine.pairings.build.build_food do |food_build| %> 
            <%= food_build.label :"Food Name" %>
            <%= food_build.text_field :food_name %>
            <%= food_build.label :"Food Acidity" %>
            <%= food_build.text_field :food_acidity %>
            <%= food_build.label :"Food Sweetness" %>
            <%= food_build.text_field :food_sweetness %>
            </div>
        <br>
        <% end %> 
   <% end %>
        
    <br> 
    <br> 

<%= w.submit %>

<% end %>








            
    