<head>
    <style type="text/css">
    div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }
    div.settings label          { text-align:right; }
    div.settings label:after    { content: ":"; }
    </style>
</head>

<h1>Create a New Food Pairing for <%= @wine.wine_name %></h1>
<br>
<%= form_for @wine.foods.build do |f| %>
    
    <div class ="settings">
    <%= f.hidden_field :wine_id, value: @wine.id %>
    <%= f.label :"Food Name" %>
    <%= f.text_field :food_name %>
    <%= f.label :"Food Acidity" %>
    <%= f.text_field :food_acidity %>
    <%= f.label :"Food Sweetness" %>
    <%= f.text_field :food_sweetness %>
    </div>


<br>
<strong>Type of Pairing: </strong>

<%= fields_for :pairings do |ff| %>
        <%= ff.label :pairing_type, "Congruent", "value" => "Congruent" %><%= ff.radio_button :pairing_type, "Congruent", checked: true %>
        <%= ff.label :pairing_type, "Contrasting", "value" => "Contrasting" %><%= ff.radio_button :pairing_type, "Contrasting", checked: false %>
    <% end %> 
    <br> 
    <br>

<%= f.submit %>

<% end %>





            
    