<head>
    <style type="text/css">
    div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }
    div.settings label          { text-align:right; }
    div.settings label:after    { content: ":"; }
    </style>
</head>

<h1>Create a New Food Pairing for <%= @wine.wine_name %></h1>
<br>
<%= form_for @wine do |f| %>
    
    <div class ="settings">
    <%= f.fields_for :foods, @wine.foods.build do |ff| %>
    
        <%= ff.label :"Food Name" %>
  
        <%= ff.text_field :food_name %>
        <%= ff.label :"Food Acidity" %>
        <%= ff.text_field :food_acidity %>
        <%= ff.label :"Food Sweetness" %>
        <%= ff.text_field :food_sweetness %>
        </div>


        <br>
        <strong>Type of Pairing: </strong>
        <%= hidden_field_tag "food[pairing_ids][]", nil %>
        <%= ff.fields_for :pairings, @wine.pairings.build do |fff| %>
                <%= fff.label :pairing_type, "Congruent", "value" => "Congruent" %><%= fff.radio_button :pairing_type, "Congruent", checked: true %>
                <%= fff.label :pairing_type, "Contrasting", "value" => "Contrasting" %><%= fff.radio_button :pairing_type, "Contrasting", checked: false %>
            <% end %> 
    <% end %>
    <br> 
    <br>

<%= f.submit %>

<% end %>








            
    