<head>
    <style type="text/css">
    div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }
    div.settings label          { text-align:right; }
    div.settings label:after    { content: ":"; }
    </style>
</head>

<h1>Create a New Food Pairing for <%= @wine.wine_name %></h1>
<br>
<%= form_for @wine do |f| %>
    
    <div class ="settings">
    <%= f.fields_for :foods, @wine.foods.build do |ff| %>
    
        <%= ff.label :"Food Name" %>
  
        <%= ff.text_field :food_name %>
        <%= ff.label :"Food Acidity" %>
        <%= ff.text_field :food_acidity %>
        <%= ff.label :"Food Sweetness" %>
        <%= ff.text_field :food_sweetness %>
        </div>

        <% end %>   
        
        <br>
        <strong>Type of Pairing: </strong>
        
        <%= f.fields_for :pairings, @wine.pairings.build do |ff| %>
                <%= ff.label :pairing_type, "Congruent", "value" => "Congruent" %><%= ff.radio_button :pairing_type, "Congruent" %>
                <%= ff.label :pairing_type, "Contrasting", "value" => "Contrasting" %><%= ff.radio_button :pairing_type, "Contrasting" %>
        <% end %> 
    
    <br> 
    <br>
    

<%= f.submit %>

<% end %>








            
    