<h2><%= @food.food_name %></h2>
<p>
Acidity: <%= @food.food_acidity %>
Sweetness: <%= @food.food_sweetness %>

</p>
<h3>Pairs Well With:</h3>

<% @food.wines.each do |wine| %>
    <%= link_to wine.wine_name, wine_path(wine) %>
    Pairing Type: 
    <% p = Pairing.where(wine_id: wine.id, food_id: @food.id).first %>
    <%= p.pairing_type %>
    <br>
    <%= form_for p do |f| %>
        <%= f.label :pairing_type, "Congruent", "value" => "Congruent" %><%= f.radio_button :pairing_type, "Congruent" %>
        <%= f.label :pairing_type, "Contrasting", "value" => "Contrasting" %><%= f.radio_button :pairing_type, "Contrasting" %>
        <%= f.submit %>
    <% end %>
    
<% end %>
    



