
<h1>Hi, <%= @user.user_name %></h1>

<% if @wines == nil || @wines == []  %>
    <h3>You do not currently have any wines identified!</h3>
    <br>
    <%= form_tag new_wine_path, method: :get do %>
        <input type=submit value='add wines'>
    <% end %>
    <br>
<% else %>
    <h3>Here are your Wines: </h3>
        <% @wines.each do |w| %>
            <div style="float: left; width: auto;">
            <li><%= link_to w.wine_name, wine_path(w) %></div>
            <%= button_to "Delete Wine", wine_path(w), method: :delete %></li>
        <% end %>
<% end %>

<br>

<%= link_to "Add a New Wine", action: 'new' %> | <%= link_to "Foods Index", foods_path %>

<br>
<br>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='logout'>
<% end %>

<%= form_tag wines_path, method: :get do %>
    <%= text_field_tag 'wine_name' %>
    <%= submit_tag "Search" %>
<% end %> 