<h1>Add a Wine</h1>
<br>
<%= form_for @wine do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.label :wine_name %>
    <%= f.text_field :wine_name %>
    <br>
    <%= f.label :color %>
    <%= f.text_field :color %>
    <br>
    <%= f.label :grape %>
    <%= f.text_field :grape %>
    <br>
    <%= f.label :avg_price %>
    <%= f.text_field :avg_price %>
    <br>
    <%= f.label :acidity %>
    <%= f.text_field :acidity %>
    <br>
    <%= f.label :sweetness %>
    <%= f.text_field :sweetness %>
    <br>
    <%= hidden_field_tag "wine[food_ids][]", nil %>
    <% Food.all.each do |food| %>
        <%= check_box_tag "wine[food_ids][]", food.id, @wine.food_ids.include?(food.id), id: dom_id(food) %>
        <%= label_tag dom_id(food), food.food_name %><br>
    <% end %>
    <%= f.submit %>
<% end %>
