<head>
    <style type="text/css">
    div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }
    div.settings label          { text-align:right; }
    div.settings label:after    { content: ":"; }
    </style>
</head>
<h1>Add a Wine</h1>
<% if @wine.errors.any? %>
    <div id="error_explanation">
    <h2>There were some errors: </h2>
    <ul>
    <% @wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
    </div>
<% end %>
<%= form_for @wine do |w| %>
    <div class ="settings">
    <%= w.hidden_field :user_id %>
    <%= w.label :wine_name %><%= w.text_field :wine_name %>
    <%= w.label :color %><%= w.text_field :color %>
    <%= w.label :grape %><%= w.text_field :grape %>
    <%= w.label :avg_price %><%= w.text_field :avg_price %>
    <%= w.label :acidity %><%= w.text_field :acidity %>
    <%= w.label :sweetness %><%= w.text_field :sweetness %>

    <strong>To Add a New Food Pairing:</strong>
    <br>
    <%= w.fields_for :pairings, @wine.pairings.build do |pair_build| %>
        <strong><em>Type of Pairing: </em></strong>
        <br>
        <%= pair_build.label :pairing_type, "Congruent", "value" => "Congruent" %><%= pair_build.radio_button :pairing_type, "Congruent" %>
        <%= pair_build.label :pairing_type, "Contrasting", "value" => "Contrasting" %><%= pair_build.radio_button :pairing_type, "Contrasting" %>
        
        <%= pair_build.fields_for :food, @wine.pairings.build.build_food do |food_build| %>
            <%= food_build.label :"Food Name:" %>
            <%= food_build.text_field :food_name %>
            <%= food_build.label :"Food Acidity:" %>
            <%= food_build.text_field :food_acidity %>
            <%= food_build.label :"Food Sweetness:" %>
            <%= food_build.text_field :food_sweetness %>
        <% end %>
        </div>
    <% end %>
    <br>
    <%= w.submit %>
<% end %>
