<head>
    <style type="text/css">
    div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }
    div.settings label          { text-align:right; }
    div.settings label:after    { content: ":"; }
    </style>
</head>

<h1>Add a Wine</h1>
<br>
<%= form_for @wine do |f| %>
    <div class ="settings">
    <%= f.hidden_field :user_id %>
    <%= f.label :wine_name %><%= f.text_field :wine_name %>
    
    <%= f.label :color %><%= f.text_field :color %>
    
    <%= f.label :grape %><%= f.text_field :grape %>
        
    <%= f.label :avg_price %><%= f.text_field :avg_price %>
    
    <%= f.label :acidity %><%= f.text_field :acidity %>
    
    <%= f.label :sweetness %><%= f.text_field :sweetness %>
    </div>
    <br>
    Food Pairings:
    <br>
    <%= hidden_field_tag "wine[food_ids][]", nil %>
    <% Food.all.each do |food| %>
        <%= check_box_tag "wine[food_ids][]", food.id, @wine.food_ids.include?(food.id), id: dom_id(food) %>
        <%= label_tag dom_id(food), food.food_name %><br>
    <% end %>
    <br>
    <strong><em>To Add a New Food Pairing:</em></strong>
    <br>
    <%= f.fields_for :foods, @wine.foods.build do |foods_fields| %>
        <%= foods_fields.hidden_field :id %>
        <%= foods_fields.label :"Food Name:" %>
        <%= foods_fields.text_field :food_name %>
        <%= foods_fields.label :"Food Acidity:" %>
        <%= foods_fields.text_field :food_acidity %>
        <%= foods_fields.label :"Food Sweetness:" %>
        <%= foods_fields.text_field :food_sweetness %>
        
        <br>
    <% end %>
            
    <br>
    
    <%= f.submit %>
<% end %>
