<h1><%= @wine.wine_name %></h1>


<head>
    <style type="text/css">
        <!--
        .tab {margin-left: 40px; }
        -->
    </style>
</head>
<h3>Pairs Well With:</h3>

<% if @wine.pairings != nil && @wine.pairings != [] %>
    <% @wine.pairings.each do |p| %>
        <div><%= p.food.food_name %> 
        <li class = "tab">Sweetness: <%= p.food.food_sweetness %>
        <li class = "tab">Acidity: <%= p.food.food_acidity %></li>
        <li class = "tab">Pairing Type: <%= p.pairing_type %>
        <br>
        </div> 
    <% end %>

<% else %>
    <p>There are no foods paired with this wine yet</p>
<% end %>

<br>
<br>

<%= link_to "New Pairing", new_wine_food_path(@wine) %>
