<% binding.pry %>
<h1><%= @wine.wine_name %></h1>

<%= link_to "New Food", new_wine_food_path(@wine) %>

<p>Foods:</p>

<% binding.pry %>
<% if @wine.pairings != nil && @wine.pairings != [] %>
    <% @wine.pairings.foods.each do |food| %>
        <div>Name: <%= food.food_name %> Sweetness <%= food.food_sweetness %> Acidity <%= food.food_acidity %></div>
    <% end %>
<% else %>
    <p>There are no foods paired with this wine yet</p>
<% end %>